{% extends "MueblesM/base.html" %}
{% load static %}
{% load humanize %}
{% block contenido%}
<body>
<br><br><br><br>
<section  class="contenedor">
        <!-- Contenedor de elementos -->
        <div class="contenedor-items">
        {% for p in productos %}
            <div class="row-cols-1 row-cols-md-2 g-4">
            <div class="item card" style=" background-color: #ffffff; height: 40rem; width: 23rem; margin: 20px 10px; margin-top:2; ">
            <div class="card-body">
				<span class="titulo-item">{{ p.marca | title }}</span>
                <span class="titulo-item">{{ p.tipo_mueble | title }}</span>
				{% if p.imagen %}
                <img src="{{ p.imagen }}" class="img-item card-img-top"  style="width: 80%; height: 50%;">
                {% endif %}
				<span class="">{{ p.descripcion | title }}</span>
                <span class="precio-item">{{ p.precio | intcomma }}</span>
                <button class="boton-item">Agregar al Carrito</button>
			</div>
            </div>
            </div>
        {% endfor %}
        </div>
</section>
</body>
{% endblock %}
