

{% block contenido %}

<table class="table table-striped table-hover">

<table>
    <tr>
        <th>Marca</th>
        <th>tipo_mueble</th>
        <th>precio</th>
        <th>tipo_madera</th>
        <th>estado</th>
        <th>fecha_fabricacion</th>
        <th>descripcion</th>
    </tr>
    {% for p in productos %}

    <tr>
        <td>{{ p.marca | title }}</td>
        <td>{{ p.tipo_mueble | title }}</td>
        <td>{{ p.precio | title }}</td>
        <td>{{ p.tipo_madera | title }}</td>
        <td>{{ p.estado | title }}</td>
        <td>{{ p.fecha_fabricacion | title }}</td>
        <td>{{ p.descripcion | title }}</td>


    </tr>
    {% endfor %}


</table>


{% endblock %}